
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-ovo :  "Ovo", serif;
    --font-lora : "Lora", serif;
    --color-lightHover: #fcf4ff;
    --color-darkHover: #2a004a;
    --shadow-black : 4px 4px 0px #000;
}
